{% extends '::public.html.twig' %}
{% block body %}

    <div id="page">
        <div class="container">
            <div class="row">

                <div id="content" class="8u skel-cell-important">
                    <article>
                        <header>
                            <h2 class="main-title">{{ article.titre }}</h2>
                        </header>
                        <a href="#" class="image-style1"><img src="{{ urlImage }}" alt=""></a>
                        <p>
                            {{ article.description }}

                        </p>
                        <p>Date : {{ article.dateDebut|date('d/m/Y') }}</p>
                        <p>Source :{{ article.source }}</p>
                    </article>
                </div>
                <div id="sidebar" class="4u">
                    <div class="commentaires">
                        <h2>Commentaires</h2>
                        <table class="table_commentaires">
                            {% for commentaire in commentaires %}
                                <tr>
                                    <td>

                                        <b>{{ commentaire.pseudo }}</b> : {{ commentaire.contenu }}
                                    </td>
                                </tr>


                            {% endfor %}


                        </table>

                    </div>
                    <h2>Laisser un commentaire</h2>
                    <div class="row">
                        <section id="box1" class="6u">
                            {% for flash_message in app.session.flashbag.get('notice') %}





                                <div class="flash-notice" style="width: 372px;color: #06D103;">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}


                        {{ form(form) }}


                        </section>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock body %}