{% extends '::public.html.twig' %}
{% block body %}

    <div id="page">
        <div class="container">
            <div class="row">

                <div id="content" class="8u skel-cell-important">
                    <article>
                        <header>
                            <h2 class="main-article">{{ article.titre }}</h2>
                        </header>
                        <a href="#" class="image-style1" style="width: 700px;"><img src="{{ urlImage }}" alt=""></a>
                        <p style="    margin: 30px 13px;">
                            {{ article.description }}

                        </p>
                        <p style="text-align: right">Date : {{ article.dateDebut|date('d/m/Y') }}</p>
                        <p style="text-align: right">Source :{{ article.source }}</p>
                    </article>
                </div>
                <div id="sidebar" class="4u">
                    <div class="commentaires">
                        <h2>Commentaires</h2>
                        <div>
                            {% for commentaire in commentaires %}
                                <div class="commentaire">

                                        <b>{{ commentaire.pseudo }}</b> : {{ commentaire.contenu }}
                                        <p>{{ commentaire.date|date('H:m d/m/Y') }} </p>
                                </div>

                            {% endfor %}


                        </div>

                    </div>
                    <h2>Laisser un commentaire</h2>
                    <div class="row">
                        <section id="box1" class="6u">
                            {% for flash_message in app.session.flashbag.get('notice') %}





                                <div class="flash-notice" style="width: 372px;color: #06D103;">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}


                        {{ form(form) }}


                        </section>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock body %}