{% extends '::public.html.twig'%}
{% block body %}
    <!-- Header -->
    <div id="header-wrapper">

        <div id="header" class="container">
         <div id="logo"> <img src="{{ asset('images/logo.png')  }}  " alt="" height= "56px"
    height="56px"></div>

            
            <nav id="nav">
                <ul>
                    <a href="{{ path('public_homepage') }}"><li >Accueil</li></a>
                    <a href="{{ path('public_discover') }}"><li>Découvrir</li></a>
                    <a href="{{ path('public_map') }}"><li>Google Maps</li></a>
                    <a href="{{ path('public_contact') }}" ><li class="selected" >Contact</li></a>
                </ul>
            </nav>

        </div>

        <div id="banner">


            <div class="circular">
            </div>



            <div class="circular2">
            </div>



            <div class="circular1">
            </div>




            </section>

        </div>

    </div>
{% endblock body %}