{% extends '::public.html.twig'%}
{% block body %}
    <!-- Header -->
    <div id="header-wrapper">

        <div id="header" class="container">

            <div id="logo"><h1><a href="#">IBN-KHALDOUN</a></h1></div>
            <nav id="nav">
                <ul>
                    <a href="{{ path('public_homepage') }}" ><li class="selected" >Accueil</li></a>
                    <a href="{{ path('public_discover') }}"><li>Découvrir</li></a>
                    <a href="{{ path('public_map') }}"><li>Google Maps</li></a>
                    <a href="{{ path('public_contact') }}"><li >Contact</li></a>
                </ul>
            </nav>

        </div>

        <div id="banner">
            <div class="container">
                <div class="row">
                    <section class="index-section">
                        <header>
                            <h2>Un Premier Pas , Pour découvrir nos racines</h2>
                            <span class="byline">POUR QUE NOS AILES SACHENT VOLER</span>
                            <span class="byline">IBN-KHALDOUN</span>

                        </header>
                        <a href="{{ path('public_map') }}" style="    margin-top: 28px;" class="bt-grey marginAuto">Découvrir</a>
                    </section>
                </div>
            </div>
        </div>

    </div>
{% endblock body %}